/* Bleu clair bouton : #3D9BEE
Bleu clair text bouton / fond tweet bouton : 3D9BEE
Bleu foncé bg : #161F2B
Rose : #F82483  */

@font-face {
	font-family: "Mont-Heavy";
	src: url("/fonts/Mont-Heavy.otf");

}

@font-face {
  font-family: "Mont-Heavy-Light";
	src: url("/fonts/Mont-ExtraLight.otf"); 
}

.ant-modal .ant-modal-content {

  background-color: #161f2b !important;
  background-clip: padding-box;

}

body {
  padding: 0;
  margin: 0;
  font-family: Mont-Heavy ,-apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    overflow-x: hidden;
    /* overflow-y:auto; */
}

* {
  box-sizing: border-box;
}