/* Bleu clair bouton : #3D9BEE
Bleu clair text bouton / fond tweet bouton : #3D9BEE
Bleu foncé bg : #161F2B
Rose : #F82483  */


.container {
  height: 100vh;
  width: 100vw;
  background-color: #161F2B;
  display:flex;
  justify-content: space-between;
  
  /* align-items: baseline; */
  flex-direction: row;
 
}
.token {color: white; font-size: 12px; font-family: verdana;}

.leftPanel {
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  width: 20vw;
  padding-left: 60px;
  padding-top: 60px;
  padding-bottom: 60px;
  border-right: 1px solid #3c4551;
  
}

.leftBottomUser {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.leftBottomUser h3 {
  color:white;
  padding-bottom:0px;
  margin-bottom:0px;
  margin-top:3px;
}

.leftBottomUser h4 {
  color:white;
  font-family: Verdana;
  font-weight: 300;
  font-size: 14px;
  padding-top:10px;
  margin-bottom:10px;
  margin-top:0px;
  color: grey;
  cursor: pointer;
}

.avatar {padding-right: 18px; margin-top: -80px;}

.centerPanel {
  padding-top: 50px;
  height: 100vh;
  width: 50vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  /* padding-left: 50px; */
  border-right: 1px solid #3c4551;
  max-height: 100vh;
  
}

.rightPanel {
  padding-top: 50px;
  height: 100vh;
  width: 30vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-left: 40px;
}

.logo { cursor: pointer;}



.logout{
	background-color: #161F2B;
	padding: 8px;
	color: #c4cde8;
	text-align: center;
	border-radius:50px;
	width: 100px;
	cursor: pointer; 
	border: #c4cde8 1px;
	border-style: solid;
  font-size: 12px;
	cursor: pointer;
  margin-left: -60px;
  margin-top: 60px;
}



.logout:hover{
	
	background-color: #1c76c5;
  cursor: pointer;
}