/* Bleu clair bouton : #3D9BEE
Bleu clair text bouton / fond tweet bouton : #3D9BEE
Bleu foncé bg : #161F2B
Rose : #F82483  */


.container {
	display: flex;
	width: 100vw;
	height: 100vh;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
}

.leftPanel{
	background-image: url('/images/bg.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	width: 40vw;
	height: 100vh;
	
	
}

.rightPanel{
	padding: 50px;
	background-color: #161F2B;
	width: 60vw;
	height: 100vh;
}

.rightPanel h1{
	color:white;
	font-size: 90px;
	line-height: 120px;
	letter-spacing: 3px;
}


.rightPanel h2{
	color:white;
	font-size: 43px;
}

.btnSignUp {
	background-color: #3D9BEE;
	padding: 16px;
	color: white;
	text-align: center;
	border-radius:50px;
	width: 280px;
	cursor: pointer;
}

.btnSignIn{
	background-color: #161F2B;
	padding: 16px;
	color: white;
	text-align: center;
	border-radius:50px;
	width: 280px;
	cursor: pointer; 
	border: #3D9BEE 1px;
	border-style: solid;
	
}

.btnSignUp:hover {
	background-color: #1c76c5;
}

.btnSignIn:hover{
	
	background-color: #1c76c5;
}

.accountTxt {
	color: white;
	padding-top: 20px;
	padding-bottom: 20px;
	width: 280px;
	text-align: center;
	
}

